<div class="text-center">
  <h1>目標登録</h1>
</div>

<div class="row">
  <div class="col-md-6 offset-md-3 mt-3">
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
    
      <div class="form-group">
        <%= f.number_field :goal, class: 'form-control', placeholder: '一日あたり糖質摂取量' %>
      </div>
      
      <%= f.submit '目標登録', class: 'btn btn-info btn-block' %>
    <% end %>
    <%= link_to 'ユーザーページへ', user_path(current_user), class: 'btn btn-secondary btn-block' %>
  </div>
</div>