<div class = "row">
  <div class="offset-md-3 col-md-6 mt-3">
    <%= form_with(model: @diet, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      
      <ul class = "list-group mb-3">
        <li class="list-group-item active">
          <%= f.text_field :name, class: 'form-control', placeholder: '品名' %>
        </li>
      
        <li class="list-group-item active">
          <%= date_field_tag :date, type = 'date', value: @diet.start_time.to_date, class: 'form-control' %>
        </li>
        
        <li class="list-group-item">
          <%= f.number_field :total_amount, step: '0.01',min: '0', class: 'form-control d-inline', placeholder: '基準量　　　:(gあたり)' %>
        </li>
        
        <li class="list-group-item">
          <%= f.number_field :calorie, step: '0.01',min: '0', class: 'form-control d-inline', placeholder: 'カロリー　　:(kcal)' %>
        </li>
        
        <li class="list-group-item">
          <%= f.number_field :protein, step: '0.01',min: '0', class: 'form-control d-inline', placeholder: 'たんぱく質　:(g)' %>
        </li>
        
        <li class="list-group-item">
          <%= f.number_field :fat, step: '0.01',min: '0', class: 'form-control d-inline', placeholder: '脂質　　　　:(g)' %>
        </li>
        
        <li class="list-group-item">
          <%= f.number_field :carb, step: '0.01',min: '0', class: 'form-control d-inline', placeholder: '炭水化物　　:(g)' %>
        </li>
        
        <li class="list-group-item">
          <%= f.number_field :intake, step: '0.01',min: '0', class: 'form-control d-inline', placeholder: '摂取量　　　:(g)' %>
        </li>
      </ul>
        
      <%= f.submit '食事登録', class: 'btn btn-info btn-block' %>
    <% end %>
    
    <div class = "mt-2">
      <%= link_to '戻る', {controller: "diets", action: "daily_index", start_time: @diet.start_time}, class: 'btn btn-secondary btn-block' %>
    </div>
   
   </div>
</div>