<!DOCTYPE html>
<html>
  <head>
    <title>CarbLabo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    
    <div class="container-fluid mb-4">
      <%= render 'layouts/flash_messages' %>

      <%= yield %>
      
      <footer>
        <% if @special_twitter == nil %>
        <div class="offset-md-3 col-md-6 mt-3">
          <div class="text-center mt-5">
            <div class="col-md-1 d-inline">
              <a target="blank" href="https://twitter.com/intent/tweet?text=carb_laboで糖質を管理しよう！&url=http://carb-labo.herokuapp.com/&hashtags=carb_lab"><%= image_tag('twitter.png', alt: "twitterアイコン", id: "icon-twitter", class: "icon") %></a>
            </div>
            <%= render 'layouts/button' %>
          </div>
        </div>
        <% end %>
      </footer>
      
    </div>
  </body>
</html>
